APP_NAME=TMS-tradinos
APP_ENV=local
APP_KEY=base64:878OKOI4hFnpWsQ9bOl/O8ChH4KsbpAd3L/VUiB0xgc=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3308
DB_DATABASE=tms_tradinos
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=bae51855a7dacf
MAIL_PASSWORD=554be8b851c857
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=tms@mail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

Client1 =uHR1YCeC85OlMzSP4iuciSOc3IIuyXysGCuIqC2r

Client2 = uFPTLF4XNN4HKT7kJJVkBSNWnLMtlhzT2czHbGZi
